@import '_colors';
.classy-nav-container span {
    color: $primary;
}

.nav-brand {
    font-size: 2em;
}

@media only screen and (max-width: 500px) {
    .nav-brand {
        font-size: 1em;
    }
}

.nav-brand:hover {
    color: $primary;
}

.nav-brand span {
    color: $primary;
}

.nav-brand img {
    padding-right: 10px;
    height: 70px;
}

@media only screen and (max-width: 500px) {
    .nav-brand img {
        padding-right: 5px;
        height: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-brand img {
        padding-right: 5px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}

.navbar-nav {
    text-align: right;
    -webkit-box-pack: flex-end !important;
    justify-content: flex-end !important;
}

.dropdown-menu {
    text-align: right;
    border: none;
}