<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
    style="background-image: url(assets/img/bg-img/18.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center mt-100">
                    <h2 class="page-title">Contactanos</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Google Maps & Contact Info Area Start -->
<section class="google-maps-contact-info">
    <div class="container-fluid">
        <div class="google-maps-contact-content">
            <div class="row">
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Teléfono</h4>
                        <p>099887755</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>Dirección</h4>
                        <p>Parque Batlle, Montevideo, Uruguay</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Horarios</h4>
                        <p>08:00 a 21:00</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p>delparqueconsultorios</p>
                        <p>@gmail.com</p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="google-maps">               
               <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Bhr7_-0x_bCXzig-_YhRmCwUgsii644e&ll=-34.8892629854997%2C-56.15321429999999&z=15" width="640" height="480"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Google Maps & Contact Info Area End -->

<!-- Contact Form Area Start -->
<div class="section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Contactanos</h6>
                    <h2>Envíanos un mensaje</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Form -->
                <div class="contact-form">
                    <form [formGroup]="formContact" (ngSubmit)="send(formContact.value)">
                        <div class="row">
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input formControlName="name" type="text" class="form-control mt-30"
                                    placeholder="Nombre" [ngClass]="{ 'is-required': form.name.errors?.required }" />
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input formControlName="email" type="email" class="form-control mt-30"
                                    placeholder="Email" [ngClass]="{ 'is-required': form.email.errors?.required }" />
                                <small *ngIf="form.email.touched && form.email.invalid" class="text-danger">
                                    <div *ngIf="form.email.errors?.pattern">
                                        Por favor ingrese una direccion de mail correcta
                                    </div>
                                </small>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
                                <textarea formControlName="message" class="form-control mt-30" placeholder="Mensaje"
                                    [ngClass]="{ 'is-required': form.message.errors?.required }"></textarea>
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                <button type="submit" class="btn consultorio-btn mt-30">
                                    Enviar Mensaje
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form Area End -->