@import '_colors';
.service-content {
    flex-wrap: wrap;
    margin-bottom: 70px;
}

@media (min-width: 576px) {
    .service-content {
        flex-wrap: inherit;
        margin-bottom: 0px;
    }
}

.service-card {
    color: #636a76;
}

.service-card:hover {
    color: $primary;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}