<app-navbar></app-navbar>
<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true"></ngx-spinner>


<div [style.display]="showModal ? 'block' : 'none'" class="modal modal-back" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="hide()">x</button>
            </div>
            <div [ngSwitch]="type">
                <div *ngSwitchCase="'signIn'">
                    <app-sign-in></app-sign-in>
                </div>
                <div *ngSwitchCase="'signUp'">
                    <app-sign-up></app-sign-up>
                </div>
                <div *ngSwitchDefault>nada</div>
            </div>
            <!-- <div class="modal-header ">
        <h4 class="modal-title " id="myModalLabel ">Login</h4>
        </div>
        <div class="modal-body ">
            <form [formGroup]="registerForm " (ngSubmit)="onSubmit() ">
                <div class="form-group ">
                    <label>Email</label>
                    <input type="text " formControlName="email " class="form-control " [ngClass]="{ 'is-invalid': submitted && f.email.errors } " />
                    <div *ngIf="submitted && f.email.errors " class="invalid-feedback ">
                        <div *ngIf="f.email.errors.required ">Email is required</div>
                        <div *ngIf="f.email.errors.email ">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>Password</label>
                    <input type="password " formControlName="password " class="form-control " [ngClass]="{ 'is-invalid': submitted && f.password.errors } " />
                    <div *ngIf="submitted && f.password.errors " class="invalid-feedback ">
                        <div *ngIf="f.password.errors.required ">Password is required</div>
                        <div *ngIf="f.password.errors.minlength ">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group form-check ">
                    <label class="form-check-label ">
              <input class="form-check-input " type="checkbox " name="remember "> Remember me
            </label>
                </div>
                <button type="submit " class="btn btn-primary ">Submit</button>
            </form>
        </div>-->

        </div>
    </div>
</div>

<app-footer></app-footer>