<app-navbar></app-navbar>
<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true"></ngx-spinner>

<div [style.display]="showModal ? 'block' : 'none'" class="modal modal-back" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" [ngSwitch]="type">
                <div *ngSwitchCase="'signIn'">
                    <app-sign-in></app-sign-in>
                </div>
                <div *ngSwitchCase="'signUp'">
                    <app-sign-up></app-sign-up>
                </div>
                <div *ngSwitchDefault>nada</div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>