<div class="container">
    <div class="list-items">
        <div class="fluid-container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-30 text-right">
                        <button type="submit" class="btn consultorio-btn">
                            Crear Usuaro
                        </button>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between align-items-center">
                    <input class="activo" type="checkbox" [(ngModel)]="item.active_user" onclick="return false" />
                    <a (click)="ngShow('createUser', item)" class="nombre"><span style="cursor: pointer;"> {{item.user_name}} - ({{item.email}}) </span> </a>
                    <span class="fa fa-trash" style="cursor: pointer;"></span>
                </li>
            </ul>
        </div>
    </div>
</div>