<!-- <h1>Room Detail</h1>
<ng-container *ngIf="room">
  <div class="card mb-3">
    <cl-image [public-id]="room.image_room" class="imgThumbnail" format="jpg">
      <cl-transformation
        height="300"
        crop="fill"
        radius="15"
        width="300"
      ></cl-transformation>
    </cl-image>
    <div class="card-body">
      <h5 class="card-title">{{ room.name_room }}</h5>
      <p class="card-text">{{ room.description }}</p>
    </div>
  </div>
</ng-container> -->
<div class="col-lg-3 col-md-6 col-xs-12" *ngIf="room">
  <ngu-carousel
    #myCarousel
    [inputs]="carouselConfig"
    [dataSource]="room.images"
  >
    <ngu-tile *nguCarouselDef="let item; let j = index" class="item">
      <cl-image [public-id]="item">

      </cl-image>
    </ngu-tile>
    <button NguCarouselNext class="rightRs">></button>
    <button NguCarouselPrev class="leftRs"><</button>
    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let j of myCarousel.pointNumbers; let i = index"
        [class.active]="j == myCarousel.activePoint"
        (click)="myCarousel.moveTo(i)"
      ></li>
    </ul>
  </ngu-carousel>
</div>
