<div class="section-padding-50-50">
    <div class="col-md-12 mx-auto container">
        <div>
            <div class="row">
                <div class="col-12">
                    <div class="animate-plus section-heading text-center" data-animation-delay="200ms " data-animation-when-visible="true ">
                        <h6>Usuario</h6>
                        <h3>Iniciar Sesión</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="formSignIn" (ngSubmit)="signIn(formSignIn.value)" novalidate class="col-md-10 mx-auto">
                    <div class="form-group">
                        <input formControlName="mail" class="form-control" placeholder="Email" autofocus [ngClass]="{'is-required': form.mail.errors?.required}" />
                        <small *ngIf="form.mail.touched && form.mail.invalid" class="text-danger">
                                    <div *ngIf="form.mail.errors?.pattern">Por favor ingrese una direccion de mail correcta</div>
                                </small>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" placeholder="Contraseña" class="form-control" [ngClass]="{'is-required': form.password.errors?.required}" />
                    </div>
                    <button type="submit " class="form-control btn consultorio-btn w-100">
            SignIn
          </button>
                </form>
            </div>
        </div>
    </div>
</div>