<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Create Room
      </div>
      <div class="card-body">
        <form
          [formGroup]="formCreateRoom"
          (ngSubmit)="create(formCreateRoom.value)"
          novalidate
        >
          <div class="form-group">
            <input formControlName="name" class="form-control" autofocus />
          </div>
          <div class="form-group">
            <textarea
              formControlName="description"
              class="form-control"
              autofocus
            ></textarea>
          </div>
          <div class="form-group">
            <input
              formControlName="image"
              type="file"
              ng2FileSelect
              [uploader]="uploader"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="
              formCreateRoom.controls.image.errors &&
              formCreateRoom.controls.image.errors.incorrect
            "
          >
            {{ errorImage }}
          </div>
          <button
            type="submit"
            class="form-control btn roberto-btn w-100"
            [disabled]="!formCreateRoom.valid"
          >
            Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
