// Primary Color
$primary: #1cc3b2;
// Secondary Color
$secondary: #0e2737;
// Text Color
$text: #afb4bf;
// Heading Color
$heading: #2a303b;
// Invalid Color
$invalid: #dc3545;
// Gray Background
$bg-gray: #e8f1f8;
// White Color
$white: #ffffff;
// Dark Color
$dark: #000000;
// Border Color
$border: #ebebeb;
// Border Button Color
$border-button: #ced4da;
// Disabled Button Color
$disabled-button: #62686f;
// Hover color
$hover: rgba(28, 195, 178, 0.2);