.is-required {
    background-image: url(/assets/img/core-img/asterisk.svg);
    background-repeat: no-repeat;
    /* border-color: $invalid; */
    padding-right: 2.25rem;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(1.25rem / 2) calc(1.25rem / 2);
}

.ng-touched.ng-invalid {
    border-color: $invalid !important;
}

.is-invalid {
    border-color: $invalid !important;
    margin-bottom: 10px !important;
    background-image: none;
}

.is-invalid:hover {
    border-color: $invalid !important;
}