@import '_colors';
@media only screen and (min-width: 992px) {
    .sign-up-area {
        min-width: 700px;
    }
}

.remove {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white !important;
    border-style: double;
    cursor: pointer;
    background-color: #307afe;
    padding: 1px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: $heading;
    line-height: 1.3;
    font-weight: 500;
}

.gallery-image {
    border: 2px solid #307afe !important;
}

.img-thumbnail {
    object-fit: cover;
    height: 180px;
    padding: 0.1rem !important;
    width: 200px;
}

.ng-touched.ng-invalid {
    border-color: $invalid !important;
}

.p-rel {
    position: relative;
}