<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <!-- Footer Area Start -->
    <footer class="footer-area">
      <div class="container">
        <div class="copywrite-content">
          <div class="row align-items-center">
            <div class="col-12 col-md-12">            
              <div>
                <p class="text-medium">                 
                  <i class="icon_phone clear"></i>
                  099887755 
                  <i class="icon_mail clear"></i>
                    delparqueconsultorios@gmail.com 
                  <i class="fa fa-map-o clear"></i>
                    Belgrano 2894 esq. Av Centenario, Montevideo, Uruguay
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copywrite Area -->
      <div class="container">
        <div class="copywrite-content">
          <div class="row align-items-center">
            <div class="col-12 col-md-12">
              <!-- Copywrite Text -->
              <div class="copywrite-text">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="fa fa-heart-o" aria-hidden="true"></i> by
                  <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
              <!-- Social Info -->
            <!-- <div class="col-12 col-md-4">            
              <div class="social-info">
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>      
    </footer>
    <!-- Footer Area End -->   
  </body>
</html>
