.clear {
    padding-right: 5px;
    color: #1cc3b2;
    margin-left: 10px;
}

.footer-area {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.vertical-align {
    vertical-align: middle;
}

.text-medium {
    color: #afb4bf;
    font-size: medium;
    text-align: center;
}