@import '../../../../../node_modules/bootstrap/scss/functions';

p {
    color: #1cc3b2;
    margin-top: 1em;
}

th,
td {
    font-size: small;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #2a303b;
    line-height: 1.3;
    font-weight: 500;
}

$custom-file-text: (
    en: 'ss',
    es: 'Elegir',
);

img {
    object-fit: cover;
    height: 180px;
    padding: 0.1rem !important;
    width: 200px;
}

.remove {
    position: absolute;
    right: 30px;
    top: 5px;
    color: white !important;
    border-style: double;
    cursor: pointer;
    background-color: #307afe;
    padding: 1px;
}

.gallery-image {
    border: 2px solid #307afe !important;
}
// img {
// }
// @import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
