<div class="sign-up-area section-padding-50-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h6>Usuario</h6>
                    <h3>Registrarse</h3>
                </div>
            </div>
        </div>
        <div class=" row">
            <div class="col-12">
                <div class="consultorio-contact-form">
                    <form [formGroup]="formCreateClient" (ngSubmit)="create()">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input [ngClass]="displayFieldCss('name')" formControlName="name" type="text" class="form-control mt-30" placeholder="Nombre" />
                                <app-field-error-display [displayError]="isFieldRequired('name')" errorMsg="El nombre es requerido"> </app-field-error-display>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input [ngClass]="displayFieldCss('lastName')" formControlName="lastName" type="text" class="form-control mt-30" placeholder="Apellido" />
                                <app-field-error-display [displayError]="isFieldRequired('lastName')" errorMsg="El apellido es requerido"></app-field-error-display>
                            </div>

                            <div class="col-6 col-lg-3">
                                <select class="form-control mt-30" formControlName="documentType" (change)="changeDocument()">
                                    <option value="CI">CI</option>
                                    <option value="passport">Pasaporte</option>
                                </select>
                            </div>

                            <div class="col-6 col-lg-3">
                                <input formControlName="document" type="text" class="form-control mt-30" placeholder="Documento" />
                                <app-field-error-display [displayError]="genericValidation('document', 'ci')" errorMsg="Por favor ingrese una cédula valida">
                                </app-field-error-display>
                                <app-field-error-display [displayError]="genericValidation('document', 'passport')" errorMsg="Por favor ingrese un pasaporte válido">
                                </app-field-error-display>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input [ngClass]="displayFieldCss('mobilePhone')" formControlName="mobilePhone" type="number" class="form-control mt-30" placeholder="Celular" />
                                <app-field-error-display [displayError]="isFieldRequired('mobilePhone')" errorMsg="El número celular es requerido"></app-field-error-display>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input (ngModelChange)="resetErrorUserName()" [ngClass]="displayFieldCss('userName')" [ngClass]="{ 'is-invalid': uniqueUserNameError }"
                                    formControlName="userName" type="text" class="form-control mt-30" placeholder="Usuario" />
                                <app-field-error-display [displayError]="isFieldRequired('userName')" errorMsg="El userName es requerido"></app-field-error-display>
                                <small *ngIf="uniqueUserNameError" class="text-danger">
                                    <div>Ya existe un usuario con este userName</div>
                                </small>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input (ngModelChange)="resetErrorEmail()" [ngClass]="displayFieldCss('email')" [ngClass]="{ 'is-invalid': uniqueEmailError }"
                                    formControlName="email" type="email" class="form-control mt-30" placeholder="Email" />
                                <app-field-error-display [displayError]="isFieldRequired('email')" errorMsg="La direccion de email es requerida"></app-field-error-display>
                                <app-field-error-display [displayError]="genericValidation('email', 'pattern')" errorMsg="Por favor ingrese una direccion de email correcta">
                                </app-field-error-display>
                                <small *ngIf="uniqueEmailError" class="text-danger">
                                    <div>Ya existe un usuario con este email</div>
                                </small>
                            </div>

                            <div class="form-group col-12 col-lg-6">
                                <input [ngClass]="displayFieldCss('password')" formControlName="password" type="password" class="form-control mt-30" placeholder="Password" />
                                <app-field-error-display [displayError]="isFieldRequired('password')" errorMsg="El contraseña es requerido"></app-field-error-display>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <input [ngClass]="displayFieldCss('passwordConfirm')" formControlName="passwordConfirm" type="password" class="form-control mt-30"
                                    placeholder="Confirmar constraseña" />
                                <app-field-error-display [displayError]="isFieldRequired('passwordConfirm')" errorMsg="La contraseña es requerida."> </app-field-error-display>
                                <app-field-error-display [displayError]="genericValidation('passwordConfirm', 'confirmedValidator')" errorMsg="Las contraseñas no coinciden">
                                </app-field-error-display>
                            </div>

                            <div class="col-12 mt-30">
                                <div class="custom-file">
                                    <input #file type="file" class="custom-file-input mt-30" id=" customFileLang" lang="es" formControlName="image" accept='image/*'
                                        (change)="preview($event)" />
                                    <label class="custom-file-label" for="customFileLang">Seleccionar Imagen</label>
                                </div>
                                <app-field-error-display [displayError]="errorImagen" errorMsg={{errorImagen}}></app-field-error-display>
                            </div>
                            <!-- PHOTO -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="d-block p-rel">
                                        <img [ngClass]="{'gallery-image': imageSelected}" class="img-fluid img-thumbnail" [src]="imgURL" />
                                        <a *ngIf="imageSelected" (click)="removeImage()" class="fa fa-close fa-lg remove"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- PHOTO -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn consultorio-btn mt-15">
                                    Registrarse
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>