<div class="sign-up-area section-padding-50-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h6>Usuario</h6>
                    <h3>Registrarse</h3>
                </div>
            </div>
        </div>
        <div class=" row">
            <div class="col-12">
                <div class="consultorio-contact-form">
                    <form [formGroup]="formCreateClient" (ngSubmit)="create()">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input [ngClass]="{ 'is-required': form.name.errors?.required && form.name.untouched}" formControlName="name" type="text" class="form-control mt-30"
                                    placeholder="Nombre" />
                                <small *ngIf="form.name.touched && form.name.invalid" class="text-danger">
                                    <div *ngIf="form.name.errors?.required">El nombre es requerido.</div>
                                </small>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input [ngClass]="{ 'is-required': form.lastName.errors?.required && form.lastName.untouched}" formControlName="lastName" type="text"
                                    class="form-control mt-30" placeholder="Apellido" />
                                <small *ngIf="form.lastName.touched && form.lastName.invalid" class="text-danger">
                                    <div *ngIf="form.lastName.errors?.required">El apellido es requerido.</div>
                                </small>
                            </div>
                            <div class="col-6 col-lg-3">
                                <select class="form-control mt-30" formControlName="documentType" (change)="changeDocument()">
                                    <option value="CI">CI</option>
                                    <option value="passport">Pasaporte</option>
                                </select>
                            </div>
                            <div class="col-6 col-lg-3">
                                <input formControlName="document" type="text" class="form-control mt-30" placeholder="Documento" />
                                <small *ngIf="form.document.touched && form.document.invalid" class="text-danger">
                                    <!-- <div *ngIf="form.document.errors?.required">La cedula es requerida.</div> -->
                                    <div *ngIf="form.document.errors.ci">No es una cedula valida</div>
                                    <div *ngIf="form.document.errors.passport">No es un pasaporte valido</div>
                                </small>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input [ngClass]="{ 'is-required': form.mobilePhone.errors?.required && form.mobilePhone.untouched }" formControlName="mobilePhone" type="number"
                                    class="form-control mt-30" placeholder="Celular" />
                                <small *ngIf="form.mobilePhone.touched && form.mobilePhone.invalid" class="text-danger">
                                    <div *ngIf="form.mobilePhone.errors?.required">El número celular es requerido.</div>
                                </small>
                            </div>
                            <div class="col-12 col-lg-6">
                                <input (ngModelChange)="resetErrorEmail()" [ngClass]="{ 'is-required': form.email.errors?.required  && form.email.untouched }"
                                    [ngClass]="{ 'is-invalid': uniqueEmailError }" formControlName="email" type="email" class="form-control mt-30" placeholder="Email" />
                                <small *ngIf="form.email.touched && form.email.invalid" class="text-danger">
                                    <div *ngIf="form.email.errors?.pattern">Por favor ingrese una direccion de email correcta</div>
                                    <div *ngIf="form.email.errors?.required">La direccion de email es requerida</div>
                                    <div *ngIf="form.email.errors?.unique">Ya existe un usuario con este email</div>
                                </small>
                                <small *ngIf="uniqueEmailError" class="text-danger">
                                    <div>Ya existe un usuario con este email</div>
                                </small>
                            </div>

                            <div class="col-12 col-lg-6">
                                <input (ngModelChange)="resetErrorUserName()" [ngClass]="{ 'is-required': form.userName.errors?.required && form.userName.untouched }"
                                    [ngClass]="{ 'is-invalid': uniqueUserNameError }" formControlName="userName" type="text" class="form-control mt-30" placeholder="Usuario" />
                                <small *ngIf="form.userName.touched && form.userName.invalid" class="text-danger">
                                    <div *ngIf="form.userName.errors?.required">El username es requerido</div>
                                </small>
                                <small *ngIf="uniqueUserNameError" class="text-danger">
                                    <div>Ya existe un usuario con este userName</div>
                                </small>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <input [ngClass]="{ 'is-required': form.password.errors?.required && form.password.untouched }" formControlName="password" type="password"
                                    class="form-control mt-30" placeholder="Password" />
                                <small *ngIf="form.password.touched && form.password.invalid" class="text-danger">
                                    <div *ngIf="form.password.errors.required">La contraseña es requerida.</div>
                                </small>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <input [ngClass]="{ 'is-required': form.passwordConfirm.errors?.required  && form.passwordConfirm.untouched}" formControlName="passwordConfirm"
                                    type="password" class="form-control mt-30" placeholder="Confirmar constraseña" />
                                <small *ngIf="form.passwordConfirm.touched && form.passwordConfirm.invalid" class="text-danger">
                                    <div *ngIf="form.passwordConfirm.errors.required">La contraseña es requerida.</div>
                                    <div *ngIf="form.passwordConfirm.errors.confirmedValidator">Las contraseñas no coinciden</div>
                                </small>
                            </div>

                            <div class="col-12 mt-30">
                                <div class="custom-file">
                                    <input #file type="file" class="custom-file-input " id="customFileLang" lang="es" formControlName="image" accept='image/*'
                                        (change)="preview($event)" />
                                    <label class="custom-file-label" for="customFileLang">Seleccionar Imagen</label>
                                </div>

                                <small class="text-danger" *ngIf="errorImagen">
                                    {{ errorImagen }}
                                </small>

                            </div>
                            <!-- PHOTO -->
                            <div class="container">
                                <hr class="mt-2" />
                                <div class="row justify-content-center">
                                    <div class="d-block p-rel">
                                        <img [ngClass]="{'gallery-image': imageSelected}" class="img-fluid img-thumbnail" [src]="imgURL" />
                                        <a *ngIf="imageSelected" (click)="removeImage()" class="fa fa-close fa-lg remove"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- PHOTO -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn consultorio-btn mt-15">
                                    Registrarse
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>