<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        SingUp
      </div>
      <div class="card-body">
        <form
          [formGroup]="formSignUp"
          (ngSubmit)="signUp(formSignUp)"
          novalidate
        >
          <div class="form-group">
            <input formControlName="email" class="form-control" autofocus />
          </div>
          <div class="form-group">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="file"
              formControlName="image"
              class="d-none"
              (change)="onImageSelected($event)"
              #photoInput
            />
          </div>
          <img
            [src]="imageSelected || 'assets/default.png'"
            class="img-fluid"
            alt="No Image"
            (click)="photoInput.click()"
          />
          <!-- Con el # le decis q el tipo img corresponde al input file, con el src le indicas que si no hay imageSelected use la por default -->
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!formSignUp.valid"
          >
            SignUp
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
