.service-content {
    flex-wrap: wrap;
    margin-bottom: 70px;
}

@media (min-width: 576px) {
    .service-content {
        flex-wrap: inherit;
        margin-bottom: 0px;
    }
}

.service-card {
    color: #636a76;
}

.service-card:hover {
    color: #1cc3b2;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.single-service-area {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
}