<div class="container-flex">
    <div class="single-service-area" data-wow-delay="100ms">
        <img src="assets/img/core-img/living-room.svg" width="40px" height="40px" alt="" />
        <i class="far fa-thumbs-up"></i>
        <h5 class="service-card">Comoda sala de espera</h5>
    </div>
    <div class="single-service-area" data-wow-delay="300ms">
        <img src="assets/img/core-img/armchair.svg" width="40px" height="40px" alt="" />
        <h5 class="service-card">Amplios consultorios</h5>
    </div>
    <div class="single-service-area" data-wow-delay="500ms">
        <img src="assets/img/core-img/professional.svg" width="40px" height="40px" alt="" />
        <h5 class="service-card">Profecionales satisfechos</h5>
    </div>
    <div class="single-service-area" data-wow-delay="700ms">
        <img src="assets/img/core-img/family.svg" width="40px" height="40px" alt="" />
        <h5 class="service-card">Para adultos, jovenes y niños</h5>
    </div>
    <div class="single-service-area" data-wow-delay="900ms">
        <img src="assets/img/core-img/place.svg" width="40px" height="40px" alt="" />
        <h5 class="service-card">Excelente ubicación</h5>
    </div>
</div>
<!-- <div class="consultorio-service-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="service-content d-flex align-items-center justify-content-between">
                    <div class="single-service-area" data-wow-delay="100ms">
                        <img src="assets/img/core-img/living-room.svg" width="40px" height="40px" alt="" />
                        <i class="far fa-thumbs-up"></i>
                        <h5 class="service-card">Comoda sala de espera</h5>
                    </div>
                    <div class="single-service-area" data-wow-delay="300ms">
                        <img src="assets/img/core-img/armchair.svg" width="40px" height="40px" alt="" />
                        <h5 class="service-card">Amplios consultorios</h5>
                    </div>
                    <div class="single-service-area" data-wow-delay="500ms">
                        <img src="assets/img/core-img/professional.svg" width="40px" height="40px" alt="" />
                        <h5 class="service-card">Profecionales satisfechos</h5>
                    </div>
                    <div class="single-service-area" data-wow-delay="700ms">
                        <img src="assets/img/core-img/family.svg" width="40px" height="40px" alt="" />
                        <h5 class="service-card">Para adultos, jovenes y niños</h5>
                    </div>
                    <div class="single-service-area" data-wow-delay="900ms">
                        <img src="assets/img/core-img/place.svg" width="40px" height="40px" alt="" />
                        <h5 class="service-card">Excelente ubicación</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->