<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12">
                    <p class="row text-medium">
                        <a class="col-lg-4 col-md-6 col-xs-12" href="/contact"><i class="icon_phone clear"></i>
                            099887755</a>
                        <a class="col-lg-4 col-md-6 col-xs-12" href="/contact"><i class="icon_mail clear"></i>
                            delparqueconsultorios@gmail.com</a>
                        <a class="col-lg-4 col-md-6 col-xs-12" href="/contact"><i class="fa fa-map-o clear"></i>
                            Parque Batlle, Montevideo, Uruguay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12 col-md-12">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>