<br />
<br />
<h1>
  <a routerLink="create">Create Room</a>
</h1>
<br />
<br />
<ul class="list-group">
  <li class="list-group-item" *ngFor="let room of rooms">
    <a routerLink="{{ room.id_room }}">
      {{ room.id_room }} - {{ room.name_room }} : {{ room.description }}</a
    >
    <cl-image [public-id]="room.image_room" class="imgThumbnail" format="jpg">
      <cl-transformation
        height="150"
        crop="fill"
        radius="15"
        width="300"
      ></cl-transformation>
    </cl-image>
    <!-- Esta ruta va sin / para que quede relativa , si desde room quiero ir a detail Room this.router.navigate(['items'], { relativeTo: this.route }); -->
  </li>
</ul>

<a routerLink="/users">Ejemplo - para ir a usuario</a>
