.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    left: 0;
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.rightRs {
    position: absolute;
    background-color: transparent;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border-color: transparent;
    color: white;
    right: 0;
    cursor: pointer;
}