<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="rooms" class="myCarousel">
    <ngu-tile *nguCarouselDef="let room; let j = index" class="item">
        <div class="single-room-slide d-flex align-items-center">
            <cl-image [public-id]="room.images[0]" class="room-thumbnail bg-img" format="jpg"></cl-image>
            <div class="room-content">
                <h2 class="animate-plus" data-animations="fadeInUp" data-animation-delay="100ms"
                    data-animation-when-visible="true" data-animation-reset-offscreen="true">
                    {{ room.name_room }}
                </h2>
                <ul *ngFor="let feature of room.features" class="room-feature animate-plus"
                    data-animations="fadeInUp" data-animation-delay="500ms" data-animation-when-visible="true"
                    data-animation-reset-offscreen="true">
                    <li>
                        <span><i class="fa fa-check"></i> {{feature.description_feature}}</span>
                    </li>
                </ul>
                <span class="description">{{ room.description }}</span>
                <a (click)="ngShow('roomDetail', room.id_room)" class="btn rooms-btn animate-plus detailButton"
                    data-animations="fadeInUp" data-animation-delay="700ms" data-animation-when-visible="true"
                    data-animation-reset-offscreen="true" style="cursor: pointer;">Ver mas fotos</a>
            </div>
        </div>
    </ngu-tile>

    <button NguCarouselPrev class="owl-prev" (click)="resetAnimation()">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Anterior
    </button>
    <button NguCarouselNext class="owl-next" (click)="resetAnimation()">
        Siguiente
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </button>
</ngu-carousel>