<div class="content-photos">
    <div class="row" *ngIf="room">
        <div class="col-12 col-lg-12">
            <div class="room-thumbnail">
                <ngu-carousel #detailCarousel [inputs]="carouselConfig" [dataSource]="room.room_images">
                    <ngu-tile *nguCarouselDef="let item; let j = index" class="tile">
                        <cl-image [public-id]="item" [style.width]="getWidthImg()" loading="lazy">
                            <cl-placeholder type="blur">
                            </cl-placeholder>
                            <cl-transformation width="400" height="225" crop="thumb">
                            </cl-transformation>
                        </cl-image>
                    </ngu-tile>
                    <button NguCarouselNext class="rightRs">></button>
                    <button NguCarouselPrev class="leftRs"><</button>
                    <ul class="myPoint" NguCarouselPoint>
                        <li *ngFor="let i of detailCarousel.pointNumbers; let z = index" [class.active]="i==detailCarousel.activePoint" (click)="detailCarousel.moveTo(i)">
                            <cl-image [public-id]="room.room_images[i].path_room_image">
                                <cl-transformation width="50" height="50" crop="thumb">
                                </cl-transformation>
                            </cl-image>
                        </li>
                    </ul>
                </ngu-carousel>
            </div>
        </div>
    </div>
</div>